
body {
    background-color: #f7fafc;
    color: #333;
    margin: 0;
    font-family: 'Arial', sans-serif;
}


main {
    margin-top: 80px;
    padding: 20px;
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.top-card {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}


.card-container {
    display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
    gap: 30px; 
    max-width: 1200px;
    margin: 0 auto; 
}


.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1; 
    height: 300px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    text-align: center; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    align-self: flex-start; 
    text-align: center;
}

.card p, .card ul {
    font-size: 1rem;
    line-height: 1.6;
    margin: auto 0; 

}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    margin: 10px 0;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 25px; 
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    align-self: center; 
}

.card button:hover {
    background-color: #388e3c;
    transform: scale(1.05); 
}

